@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebar-width: 7rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(156 163 175);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #3b65d5;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3b65d5;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.shadow-text {
    text-shadow: 0 -2px 30px #0e82f6;
    color: transparent;
    background-image: linear-gradient(to right, #b4f8fa, #b4f8fa, #72e8f9, #b4f8fa);
    background-clip: text;
}

.shadow-button {
    color: #0e82f6;
}

.shadow-button:hover {
    box-shadow: 0 -2px 30px #0e82f6;
}

.shadow-button:active {
    background-color: transparent !important;
    color: #72e8f9 !important;
    border-color: #72e8f9 !important;
    box-shadow: 0 -2px 30px #72e8f9;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}